/* Coolors Exported Palette - coolors.co/2e294e-08090a-fcca46-577590-c8c8c8 */

/* HSL */
$color1: hsla(248%, 31%, 23%, 1);
$color2: hsla(210%, 11%, 4%, 1);
$color3: hsla(44%, 97%, 63%, 1);
$color4: hsla(208%, 25%, 45%, 1);
$color5: hsla(0%, 0%, 78%, 1);

/* RGB */
$color1: rgba(46, 41, 78, 1);
$color2: rgba(8, 9, 10, 1);
$color3: rgba(252, 202, 70, 1);
$color4: rgba(87, 117, 144, 1);
$color5: rgba(200, 200, 200, 1);